@font-face {
    font-family: 'Mazzard';
    src: local('Mazzard H Medium'), local('Mazzard-H-Medium'),
        url('MazzardH-Medium.woff2') format('woff2'),
        url('MazzardH-Medium.woff') format('woff'),
        url('MazzardH-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }